.navigation{
    width: 100%;
    color: white;

   /* @media(max-width: 500px){
        justify-content: space-between;
    }*/

    .nav-start{
        justify-content: flex-start;
        @media(max-width: 500px){
            width: 50%;
        }
    }

    .nav-end{
        @media(max-width: 500px){
            width: 50%;
        }
    }

    .menu{
        padding: 16px;
    }
}

.icon{
    fill: white;
}

.git-icon{
    fill: #303640;
    width: 36px;
    height: 36px;
}