.navbar{
   // background-color: #4158D0;
   // background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: white;
   /* @media(max-width: 500px){
        justify-content: space-between;
    }*/

    .navbar-start{
        justify-content: flex-start;
        @media(max-width: 500px){
            width: auto;
        }
    }

    .navbar-end{

        @media(max-width: 500px){
            width: auto;
        }
    }

    .menu{
        padding: 16px;
    }
}


.icon{
    fill: white;
}