@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';
@import '../../sass//animations.scss';

.section-features{
    padding: 20rem 0; //200px
    background-image: linear-gradient(to bottom right, rgba(#720BED,0.7), rgba(#BC03CB, 0.7)), url(../../assets/images/background.jpg);    
    background-size: cover;
    background-position: top;
    position: relative;
    transform: skewY(-7deg);
 
    & > *{
        transform: skewY(7deg);
    }

    @include respond(tab-port){
        padding: 10rem 0;
    }

    .services{
        -webkit-animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation-iteration-count: infinite;
        animation-delay: 2s;
        color: white;
        letter-spacing: 3px;
        transform: skewY(7deg);
        position: relative;
        top: -8rem;
        font-weight: bold;

        @media(max-width:640px){
            top: -4rem;
        }
    }
}


.feature-box{
    background-color: rgba(white , .8);
    font-size: 1rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
    transition: all .2s;

    @include respond(tab-port){
        padding: 2rem;
    }

    &__icon {
        margin-bottom: .5rem;
        width: 60px;
        height: 60px;


        @include respond(tab-port){
            margin-bottom: 0;
        }  
    }

    &:hover {
        transform: scale(1.03) translateY(-1.5rem);
    }
}