@import '../../sass/variables';

.repo{
    position: relative;
    min-width: 425px;
    border-radius: 20px;
    margin-bottom: 1.5rem;
    transition: all 1s ease-in-out;
    box-sizing: border-box;
    max-width: 300px;
    max-height: 212.5px;

    @media(max-width:500px){
      min-width: 300px;
      width: 300px;
    }


      .image {
        display: block;
        width: 100%;
        height: auto;
        z-index: 1;
      }
      
      .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(to bottom right, rgba(#720BED,0.7), rgba(#BC03CB, 0.7));
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: all 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      &:hover {
        .overlay { width: 100%;}   
      }
}

.title{
  position: absolute;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 25px;
  color: white;
  left: 40px;
  top: 20px;
  z-index: 10;
}

