
@import '../../sass/variables';

.repo{
    min-width: 425px;
    height: 210px;
    padding: 5rem;
    margin: 1.5rem;
    border-radius: 20px;
    margin-bottom: 1rem;
    color: white;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    box-shadow: 2px 2px 0 5px $color-grey-dark-2;
    overflow: hidden;
    transition: all 0.5s linear;

    &:hover{
      transform: scale(110%);
    }
}

.title{
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 25px;
  color: black;
}

